<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Storage App</title>
</head>
<body>
    <h1>Welcome to Cloud Storage App</h1>
    <ul>
        <li><a href="{{ url_for('upload_file') }}">Upload File</a></li>
    </ul>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
